




<footer>
    <h1 class="antiqua">ThronesFanClub</h1>
    <p>Part of the <a href="https://www.theodinproject.com/dashboard" target="_blank">Odin Project's</a> curriculum.</p>
    <p>Visit Repository in <a href="https://github.com/rasooli451/ThronesFanClub">Github</a></p>
</footer>