






<header>
    <div class="userInfo">
        <h1 class="antiqua">ThronesFanClub</h1>
        <p><%= locals.currentUser.username %></p>
    </div>
    <ul>
        <li><a href="/homepage" class="nosound">Home<span></span></a></li>
        <li><a href="/profile" class="nosound">Profile<span></span></a></li>
        <li><a href="/homepage/post" class="nosound">New Post<span></span></a></li>
        <li><a href="/profile/upgrade" class="nosound">Upgrade<span></span></a></li>
        <li><a href="/logout" class="nosound">Log Out<span></span></a></li>
        <% if (locals.currentUser.isadmin) { %>
            <li><a href="/users">Users</a></li>
        <% } %>
    </ul>
</header>