






<header>
    <h1 class="">ThronesFanClub</h1>
    <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="/homepage/post">New Post</a></li>
        <li><a href="">Upgrade</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</header>