






<header>
    <div class="userInfo">
        <h1 class="antiqua">ThronesFanClub</h1>
        <p><%= locals.currentUser.username %></p>
    </div>
    <ul>
        <li><a href="/homepage">Home<span></span></a></li>
        <li><a href="/profile">Profile<span></span></a></li>
        <li><a href="/homepage/post">New Post<span></span></a></li>
        <li><a href="/profile/upgrade">Upgrade<span></span></a></li>
        <li><a href="/logout">Log Out<span></span></a></li>
    </ul>
</header>