






<header>
    <h1 class="">ThronesFanClub</h1>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Upgrade</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</header>