



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Post</title>
</head>
<body>
    <main>
        <%- include("Partials/header") %>
        <form action="/profile/edit/<%= locals.post.message_id %>" method="post">
            <h2>Edit post</h2>
            <div class="formSection">
                <label for="message">what's on your mind?</label>
                <textarea name="message" id="message"><%= locals.post.message %></textarea>
            </div>
            <div class="formSection">
                <button type="submit">Edit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </main>
</body>
</html>