



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Post</title>
</head>
<body>
    <%- include("Partials/header") %>
    <main class="appView small-form">
        <form action="/profile/edit/<%= locals.post.message_id %>" method="post" class="headerBG">
            <h2>Edit post</h2>
            <div class="formSection">
                <label for="message">what's on your mind?</label>
                <textarea name="message" id="message"><%= locals.post.message %></textarea>
            </div>
            <input type="text" value="<%= locals.fromUser %>" class="hidden" name="fromUser">
            <div class="formSection buttons">
                <button type="reset">Reset</button>
                <button type="submit">Edit</button>
            </div>
        </form>
    </main>
    <script src="/sound.js"></script>
</body>
</html>