

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <main class="login-screen">
        <div class="introduction">
        <h1 class="title antiqua">Thrones FanClub</h1>
        </div>
        <form action="/login" method="post" class="loginForm">
            <h2>Login</h2>
            <div class="formSection">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="enter username..." name="username">
            </div>
            <div class="formSection">
                <label for="password">Password:</label>
                <input type="password" required placeholder="enter password..." id="password" name="password">
            </div>
            <div class="formSection buttons">
                <button type="reset">Reset</button>
                <button type="submit" class="nosound">Login</button>
            </div>
            <div class="option">
                <li><a href="/signup" class="nosound">Sign Up</a> if you don't have an account.</li>
            </div>
        </form>
    </main>
    <script src="/sound.js"></script>
</body>
</html>