


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Post</title>
</head>
<body>
    <%- include("Partials/header") %>
    <main class="appView small-form">
        <form action="/homepage/post" method="post" class="headerBG">
            <h2>Create a new post</h2>
            <div class="formSection">
                <label for="message" class="messageLabel">what's on your mind?</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div class="formSection buttons">
                <button type="reset">Reset</button>
                <button type="submit" class="nosound">Post</button>
            </div>
        </form>
    </main>
    <%- include("Partials/footer") %>
    <script src="/sound.js"></script>
</body>
</html>