

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Not a member</title>
</head>
<body>
    <%- include("Partials/header") %>
    <main class="appView">
        <div class="message">
            <h1>You are not a member, therefore you can't: </h1>
            <ul>
                <li>Edit Messages</li>
                <li>Delete Messages</li>
                <li>Comment</li>
            </ul>
            <h3>Become a <a href="/profile/upgrade">member</a> now by finding the answer to the riddle</h3>
        </div>
    </main>
    <script src="/sound.js"></script>
</body>
</html>