

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Not a member</title>
</head>
<body>
    <%- include("Partials/header") %>
    <main class="appView bigHeight">
        <div class="Membermessage">
            <h1>You are not a member, therefore you can't: </h1>
            <ul>
                <li>Edit Messages</li>
                <li>Delete Messages</li>
                <li>Visit other users' profiles</li>
            </ul>
            <h3>Become a <a href="/profile/upgrade" class="nosound">member</a> now by finding the answer to the riddle.</h3>
        </div>
    </main>
    <%- include("Partials/footer") %>
    <script src="/sound.js"></script>
</body>
</html>